*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


body {
   background-image: url('/images/valentine.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;


}

.navibar {
    background: linear-gradient(to right,#8b1e35,#5a1f1f);
    padding: 15px;
    text-align: center;
}

.navibar a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
}

.navibar a :hover {
    color: #ffd1dc;
}

h1 {
    text-align: center;
    color: #8b1e35;
    margin: 30px 0;

}

h3 {
    color: #5a1f1f;
    margin-top: 10px;
}

img {
    margin: 15px auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    border-radius: 12px;


}

body > h1 + * {
    margin: auto;
    width: 80%;
}

p {
    margin: 5px 0;
}

body > h1 + * h3 
body > h1 + * p {
    border-radius: 8px;
    padding: 10px 15px;
    background: #fff5f7;

}

a {
    color: #8b13ef;

}

a:hover {
    color: #a83250;
}

form {
    padding: 25px;
    border-radius: 15px;
    background: #fff5f7;
    box-shadow: 0 6px 12px rgba(139, 30, 63, 0.25);
}

label {
    color: 5a1f1a;
    margin-top: 12px;
    display: block;
    font-weight: bold;
}

input {
    border-radius: 8px;
    
}