*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


body {
   padding: 20px; 
   background-color: #fff5f5; 
   line-height: 1.6;
   font-family: 'Georgia', serif;
   color: #3d2817;

}

.navibar {
    background: linear-gradient(to right,#d3a798,#6d4c41);
    padding: 15px;
    text-align: center;
}

.navibar a {
    font-weight: bold;
    color: #ffe4e1;
    text-decoration: none;
    margin: 0 12px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: all, 0.3, ease;
}

.navibar a :hover {
    background-color:#d4887d;
    color: white;
}

h1 {

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #8b4513;
    margin: 30px 0;

}

h2 {

    font-size: 1.3em;
    text-align: center;
    color: #5d4037;
    line-height: 1.8;

}

h3 {
    text-align: center;
    color: #6d4c41;
    margin-top: 15px;
    font-size: 25px;
}



p {
    color: #5d4037;
    line-height: 1.8;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;


}




a {
    color: #cdb1e4;
    font-weight: bold;
    font-size: 22px;
    text-align: center;


}

a:hover {
    color: #a83250;
}

form {
    padding: 5px;
    border-radius: 15px;
   
    box-shadow: 0 6px 12px rgba(139, 30, 63, 0.25);
}

label {
    color: 5a1f1a;
    margin-top: 12px;
    display: block;
    font-weight: bold;
}

/* create page */

input[type="text"] {
    border: 2px solid #d4887d;
    width: 25%;
    border-radius: 8px;
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    outline: none;
}


input [type="text"] {
   outline: none;
   box-shadow: 0 0 5px rgba(194, 24, 91, 0.3);
}

button {
    color: wheat;
    width: 200px;
    background: linear-gradient(to right, #8b13ef, #5a1f1f);
    font-size: 16px;
    margin: 8px auto;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    display: block;
    cursor: pointer;

}

button:hover {
    background: linear-gradient(to right, #a83250, #6b2a2a);
}

form button[type=submit] {
    background: linear-gradient(to right, #8b1e3f, #5a1f1f );

}

.delete-button {
    box-shadow: none;
    padding: 0;
}

.buttons-mo {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    display: flex;
}

.buttons-mo a {
    background: linear-gradient(to right, #d4887d, #a83250);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}

.buttons-mo a:hover {
    background: linear-gradient(to right, #a83250, #6b2a2a);
}

br {
    line-height: 1.8;
}

body::before {
  
    top: 10px;
    position: fixed;
    z-index: -1;
    content: "♥";
    color: #d82d69;
    right: 10px;
    font-size: 2em;
    opacity: 0.3;
   
}


body > a:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #c2185b;
    transform: scale(1.05);
}